<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/script/jquery-1.7.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#emptyCart").click(function () {
                return confirm("亲！确定要清空购物车吗？🥹")
            })
            $("#deleteCartItem").click(function () {
                const bookTitle = $(this).attr('id');
                return confirm("确定要删除" + bookTitle + "这本图书吗？")
            })
            $(".updateCartItem").change(function () {
                const cartItemId = $(this).attr('id')
                const bookCount = $(this).val()
                // location = "/updateCartItem?cartItemId=" + cartItemId + "&bookCount=" + bookCount;
                var url = "/updateCartItem"
                var param = {
                    "cartItemId": cartItemId,
                    "bookCount": bookCount
                }
                var tdElm = $(this).parent().next().next()
                $.post(url, param, function (res) {
                    $("#totalCount").text(res.totalCount)
                    $("#totalAmount").text(res.totalAmount)
                    tdElm.text(res.amount)
                }, 'json')
            })
        })
    </script>
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">购物车</span>
    {{if .UserID}}
    <div>
        <span>欢迎<span class="um_span">{{.Username}}</span>光临尚硅谷书城</span>
        <a href="/getCartInfo">购物车</a>
        <a href="/logout">注销</a>&nbsp;&nbsp;
        <a href="/">返回</a>
    </div>
    {{else}}
    <div>
        <a href="/pages/user/login.html">登录</a> |
        <a href="/pages/user/regist.html">注册</a> &nbsp;&nbsp;
        <a href="/getCartInfo">购物车</a>
        <a href="/pages/manager/manager.html">后台管理</a>
    </div>
    {{end}}
</div>

<div id="main">
    {{if .Cart}}
    <table>
        <tr>
            <td>商品名称</td>
            <td>数量</td>
            <td>单价</td>
            <td>金额</td>
            <td>操作</td>
        </tr>
        {{range .Cart.CartItems}}
        <tr>
            <td>{{.Book.Title}}</td>
            <td>
                <input id="{{.CartItemID}}" class="updateCartItem" value="{{.Count}}"
                       style="text-align: center;width: 50px">
            </td>
            <td>{{.Book.Price}}</td>
            <td>{{.Amount}}</td>
            <td><a class="deleteCartItem" id="{{.Book.Title}}" href="deleteCartItem?cartItemId={{.CartItemID}}">删除</a>
            </td>
        </tr>
        {{end}}
    </table>
    <div class="cart_info">
        <span class="cart_span">购物车中共有<span class="b_count"
                                                  id="totalCount">{{.Cart.TotalCount}}</span>件商品</span>
        <span class="cart_span">总金额<span class="b_price" id="totalAmount">{{.Cart.TotalAmount}}</span>元</span>
        <span class="cart_span"><a href="/">继续购物</a></span>
        <span class="cart_span"><a href="/emptyCart" id="emptyCart">清空购物车</a></span>
        <span class="cart_span"><a href="/checkout">去结账</a></span>
    </div>
    {{else}}
    <h1 style="text-align: center">您的购物车已经饥渴难耐了，快去主页<a style="color: red" href="/">购物</a>吧！</h1>
    {{end}}
</div>

<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
</div>
</body>
</html>